.custom-collapse {
  :global(.arco-collapse-item) {
    border: none !important;
  }

  :global(.arco-collapse-item-icon-hover) {
    left: 0 !important;
  }

  :global(.arco-collapse-item-header) {
    border: none !important;
    padding-left: 24px;
    font-weight: 500;
  }
}

.custom-checkbox-wrapper {
  :global(.arco-checkbox-checked .arco-checkbox-mask) {
    background-color: var(--color-fill-2) !important;
  }

  :global(.arco-checkbox-mask) {
    width: 18px;
    height: 18px;
    border-radius: 4px;
  }

  :global(.arco-checkbox-mask-icon) {
    width: 12px;
  }
}
