.arco-popover-content {
  padding: 4px !important;
  border-radius: var(--border-radius-large) !important;
}

.arco-divider-vertical {
  border-color: var(--color-border-1) !important;
}

.arco-btn-size-small,
.arco-btn-size-default {
  border-radius: var(--border-radius-medium) !important;
}
